
 /*Adapta la imagen para cubrir todo el contenedor sin deformarse */
 .rellenar{
    height: 100%;
    width: 100%;
    object-fit:cover;
    -o-object-fit:cover;
}
 .alergenos img {
     height: 46px;
 }